body {
    background-color: #196682;
    overflow-x: hidden;
}

.nav-link,
.nav-item,
.dropdown-item {
    color: white;
}

.nav-link:hover,
.nav-link:focus {
    color: #e6dddc;
}

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
    color: white;
}

.dropdown-menu {
    background-color: #499430;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #6fc752;
    color: white;
}

#ipba {
    background-color: #1c7c9e;
}

#meet-the-team {
    background-color: #1a708f;
}

#introduction {
    background-color: #2487ab;
}

.group-member {
    opacity: 0;
}

.hvr-grow {
    box-shadow: none;
}

.hvr-grow:active,
.hvr-grow:focus,
.hvr-grow:hover {
    transform: scale(1.06);
}

.add-shadow {
    box-shadow: 0px 0px 7px 0px rgba(66, 66, 66, 1);
}
