:root {
    --color-primary: #b0aaa0;
    --color-white: #e9e9e9;
    --color-black: #525151;
    --color-black-1: #212b38;
}

* {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
}

body {
    height: 100%;
    font-family: sans-serif;
    background-image: linear-gradient(to bottom, #464646, #131111);
    background-repeat: no-repeat;
}

#intro-video > h1,
#logo-showcase > h1,
#brand > h1 {
    text-align: center;
}

#prev,
#next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    background-color: transparent;
    border: 0;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

#next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

#prev:hover,
#next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.link {
    color: #399ed4;
    text-decoration: none;
    transition: color 100ms;
}

.link:hover {
    color: #17c1ff;
}

.menu_bar {
    background-color: var(--color-black);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    color: var(--color-white);
    font-size: 30px;
}

.logo span {
    color: var(--color-primary);
}

.navitem {
    color: var(--color-primary);
    text-decoration: none;
    font-size: 20px;
    margin-left: 16px;
    margin-right: 16px;

    transition: all 0.3s;
}

.dcm {
    text-decoration: none;
}

.active_navitem,
.navitem:hover {
    color: var(--color-white);
}

.section {
    margin-top: 24px;
    padding-left: 64px;
    padding-right: 64px;
}

.section h1,
.title {
    color: var(--color-white);
    margin-bottom: 16px;
}

.section h2 {
    color: var(--color-primary);
    margin-top: 16px;
}

.section p {
    color: #c4c4c4;
    line-height: 1.3;
    font-size: 20px;
}

.content {
    margin-top: 1rem;
}

.learn-more {
    background-color: var(--color-black);
    color: var(--color-white);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25rem;
    border-radius: 10px;
    padding: 0.7rem;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    transition: all 200ms;
}

.learn-more:hover {
    background-color: #454545;
}

.hvr-underline-from-center:before {
    height: 2px;
    background: var(--color-white);
}

.slide {
    display: none;
    animation-name: fade;
    animation-duration: 1000ms;
}

.slide > img {
    max-width: 100%;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
}

.text {
    color: whitesmoke;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: -5px 1px 2px rgba(0, 0, 0, 0.6);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dots {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -150%);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:hover {
    background-color: #717171;
}

.active {
    background-color: #383838;
}

.question {
    cursor: pointer;
    padding: 12px;
    border: none;
    border-radius: 5px;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 200ms;
}

.question h3 {
    color: var(--color-primary);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 100ms;
}

.question:hover h3 {
    color: var(--color-white);
}

.question:hover {
    background-color: #383838;
}

.answer {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
	opacity: 0;
    transition: all 0.2s ease-out;
}

.answer.show {
	opacity: 1;
	margin-top: 16px;
	margin-bottom: 16px;
}

.answer p {
    font-size: 16px;
}

.faq-item {
    border: 1px solid #3b3b3b;
    border-radius: 5px;
    margin-top: 16px;
    margin-bottom: 16px;
	opacity: 0;
}

.fa-caret-down {
    transform: rotate(0deg);
    transition: transform 300ms linear;
}

.fa-caret-down.open {
    transform: rotate(-180deg);
    transition: transform 300ms linear;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}


.container2 {
  height: 100vh;
  width: 100%;
}

.container2 .row{
  height: 100%;
/*   width: 100%; */
/* 	display: flex;
	justify-content: center;
	align-items: center; */
}

.container2 .row .box-slider {
  position: relative;
  height: 85%;
/*   width: 100%; */
  padding: 40px 80px;
  display: flex;
  gap: 15px;
}

.container2 .row .box-slider .img {
  position: relative;
  height: 100%;
  width: calc(100% / 5);
  overflow: hidden;
  transition: 0.3s linear;
  transform: skewX(5deg);
}

.container2 .row .box-slider .img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
	transition: background 200ms linear;
}

.container2 .row .box-slider .img img {
  height: 100%;
  width: fit-content;
  object-fit: cover;
}

.container2 .row .box-slider .img .info {
  position: absolute;
  bottom: -100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px 0;
	text-align: center;
  transition: bottom 300ms linear;
}

.container2 .row .box-slider .img:hover .info {
  bottom: 0;
}

.container2 .row .box-slider .img:hover {
  width: calc(100% / 2);
}

.container2 .row .box-slider .img:hover::before {
	background: rgba(0, 0, 0, 0);
}